<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @portfolio_etf.category %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @portfolio_etf.portfolio %>
</p>

<p>
  <strong>Etf:</strong>
  <%= @portfolio_etf.etf %>
</p>

<p>
  <strong>Shares amount:</strong>
  <%= @portfolio_etf.shares_amount %>
</p>

<p>
  <strong>Share cost:</strong>
  <%= @portfolio_etf.share_cost %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @portfolio_etf.total_cost %>
</p>

<p>
  <strong>Total today:</strong>
  <%= @portfolio_etf.total_today %>
</p>

<%= link_to 'Edit', edit_portfolio_etf_path(@portfolio_etf) %> |
<%= link_to 'Back', portfolio_etfs_path %>
