<p id="notice"><%= notice %></p>

<h1>Portfolio Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Portfolio</th>
      <th>Subscription</th>
      <th>Shares amount</th>
      <th>Share cost</th>
      <th>Total cost</th>
      <th>Total today</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_subscriptions.each do |portfolio_subscription| %>
      <tr>
        <td><%= portfolio_subscription.category %></td>
        <td><%= portfolio_subscription.portfolio %></td>
        <td><%= portfolio_subscription.subscription %></td>
        <td><%= portfolio_subscription.shares_amount %></td>
        <td><%= portfolio_subscription.share_cost %></td>
        <td><%= portfolio_subscription.total_cost %></td>
        <td><%= portfolio_subscription.total_today %></td>
        <td><%= link_to 'Show', portfolio_subscription %></td>
        <td><%= link_to 'Edit', edit_portfolio_subscription_path(portfolio_subscription) %></td>
        <td><%= link_to 'Destroy', portfolio_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio Subscription', new_portfolio_subscription_path %>
