
<%= simple_form_for(@portfolio_put) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="row">
    <div class="col-md-3">
    <%= form.label :situation_id %> 
    <%= form.select :situation_id, Situation.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-3">
    <%= form.label :put_id %> 
    <%= form.select :put_id, Put.all.collect {|d| [d.ticker, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-3">
    <%= form.label :portfolio_id %> 
    <%= form.select :portfolio_id, Portfolio.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-3">
    <%= form.label :category_id %> 
    <%= form.select :category_id, Category.all.collect {|d| [d.title, d.id]}, {selected: 12}, {class: 'form-control'} %>
  </div>


</div>
<div class="row">
  <div class="col-md-4">
      <%= form.label :shares_amount %>
      <%= form.text_field :shares_amount, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      <label>Premio</label>
      <%= form.text_field :price, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      <label>Premio total</label>
      <%= form.text_field :total_price, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      <label>Strike total</label>
      <%= form.text_field :total_strike, class: 'form-control' %>
  </div>
</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
