<div class="float-right"><%= link_to new_admin_etf_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo 
	</button><% end %>
</div>
<h3 class="h3-custom mb-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; ETF
</h3>
<div class="table-responsive mt-2">
    <table id="" class="display table table-striped w-100" cellspacing="0">
      <thead>
        <tr>
          <th>ticker</th>
          <th>Preço</th>
          <th>title</th>
          <th>Url</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @etfs.each do |etf| %>
          <tr>
            <td><%= etf.ticker %></td>
            <td><%= etf.price %></td>
            <td><%= etf.title %></td>
            <td><%= etf.slug %></td>
            <td> <%= link_to 'Edit', edit_admin_etf_path(etf.id) %> | <%= link_to 'Destroy', admin_etf_path(etf.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

