<div class="float-right"><%= link_to new_admin_put_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo 
	</button><% end %>
</div>
<h3 class="h3-custom mb-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; puts
</h3>
<div class="table-responsive mt-2">
    <table id="" class="display table table-striped w-100" cellspacing="0">
      <thead>
        <tr>
          <th>ticker</th>
          <th>Preço</th>
          <th>Strike</th>
          <th>Vencimento</th>
          <th>Desabilitado</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @puts.each do |put| %>
          <tr>
            <td><%= put.ticker %></td>
            <td><%= put.price %></td>
            <td><%= put.strike %></td>
            <td><%= put.expiration.title %></td>
            <td <% if put.is_disable %> class="text-primary" <% end %> ><%= put.is_disable %></td>
            <td> <%= link_to 'Edit', edit_admin_put_path(put.id) %> | <%= link_to 'Destroy', admin_put_path(put.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

