<div class="float-right"><%= link_to new_admin_portfolio_cripto_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo 
	</button><% end %>
</div>
<h3 class="h3-custom mb-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Criptos nos Portfolios
</h3>
<div class="table-responsive mt-2">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Portfolio</th>
          <th>Categoria</th>
          <th>Quantidade</th>
          <th>Custo Unitário</th>
          <th>Custo Total</th>
          <th>Total Hoje</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @portfolio_criptos.each do |portfolio_cripto| %>
          <tr>
            <td><%= portfolio_cripto.cripto.ticker %></td>
            <td><%= portfolio_cripto.portfolio.title %></td>
             <td><%= portfolio_cripto.category.title %></td>
            <td><%= portfolio_cripto.shares_amount %></td>
            <td><%= portfolio_cripto.share_cost %></td>
            <td><%= portfolio_cripto.total_cost %></td>
            <td><%= portfolio_cripto.total_today %></td>
            <td> <%= link_to 'Edit', edit_admin_portfolio_cripto_path(portfolio_cripto.id) %> | <%= link_to 'Destroy', admin_portfolio_cripto_path(portfolio_cripto.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

