<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
                <table id="" class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Qnt</th>
                            <th>PM</th>
                            <th>Custo Total</th>
                            <th>Total Hoje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_fiis.each do |portfolio_fii| %>
                        <tr>
                            <td><%= portfolio_fii.fii.ticker %></td>                        
                            <td><%= number_with_precision(portfolio_fii.shares_amount, precision: 0) %>
                            <td><%= number_with_precision(portfolio_fii.share_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_fii.total_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_fii.total_today, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= link_to 'Edit', edit_portfolio_fii_path(portfolio_fii) %> | <%= link_to 'Destroy', portfolio_fii_path(portfolio_fii), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
        </div>
    </div>
</div>