<div class="col-xl-5">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-5">Renda Fixa do Portfolio</h4>
                <table id="" class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Qnt</th>
                            <th>Preço medio</th>
                            <th>Custo Total</th>
                            <th>Total Hoje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_fixed_incomes.each do |portfolio_fixed_income| %>
                        <tr>
                            <td><%= portfolio_fixed_income.fixed_income.ticker %></td>
                            <td><%= number_with_precision(portfolio_fixed_income.shares_amount, precision: 4) %></td>
                            <td><%= number_with_precision(portfolio_fixed_income.share_cost, precision: 4, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_fixed_income.total_cost, precision: 4, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_fixed_income.total_today, precision: 4, separator: ",", delimiter: ".") %></td>
                            <td><%= link_to 'E', edit_portfolio_fixed_income_path(portfolio_fixed_income) %> | <%= link_to 'D', portfolio_fixed_income_path(portfolio_fixed_income), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
        </div>
    </div>
</div>
<div class="col-xl-7">
    <div class="card">
        <div class="card-body">
            <div id="chart">
            </div>

        </div>
    </div>
</div>

<script>
  var options = {
    series: [],
    legend: {
      show: true,
      position: 'bottom',
      horizontalAlign: 'left',
      fontSize: '14px',
      fontFamily: 'Helvetica, Arial',
      fontWeight: 400,
      width:'20px',
    },
    theme: {
      mode: 'light', 
    //   palette: 'palette6', 
    },
  dataLabels: {
    enabled: true,
    style: {
      fontSize: '12px',
    },
    formatter: function(text, op) {
      return [text, op.value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 0, maximumFractionDigits: 0 })]
    },
    offsetY: -4
  },
  chart: {
    height: 310,
    type: 'treemap',
    toolbar: {
      show: false}
  },
  colors: [
    '#3B93A5',
    '#F7B844',
    '#38BC6A',
    '#EC3C65',
    '#748C38',
    '#8A1459',
    '#71A021',
    '#1E5D8C',
    '#421243',
    '#7F94B0',
    '#EF6537',
    '#C0ADDB'
    ],
    plotOptions: {
        treemap: {
            distributed: true,
            enableShades: false
        }
    }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

var url = "/api/portfolio/<%= @portfolio.id %>/fixed_incomes_chart";
$.getJSON(url, function (response) {
 chart.updateSeries(response);
});


</script>