<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body text-center">
                  <p><%= image_tag avatar_url(current_user), class: 'align-self-start mx-2 circle thumb32' %></p>
                  <p><%= current_user.email %></p>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="card">
                <div class="card-body">
                    <% if alert %><div class="alert alert-success m-5 text-center"><%= alert %></div><% end %>
                    <% if notice %><div class="alert alert-success m-5 text-center"><%= notice %></div><% end %>
                    <p id="notice"><%= notice %></p>
                    <h1>Portfolios</h1>

                    <div class="table-responsive mt-2">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Slug</th>
                          <th colspan="3"></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @portfolios.each do |portfolio| %>
                          <tr>
                            <td><a href="/portfolios/<%= portfolio.id %>" target="_blank"> <%= portfolio.title %> </a></td>
                            <td><%= portfolio.slug %></td>
                            <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
                            <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                </div>
                <br>

                <%= link_to 'New Portfolio', new_portfolio_path %>

                </div>
            </div>
        </div>
            
    </div>
</div>
</div>





