<section id="tabs" class="project-tab">

    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <% if @portfolio_etfs.any? %>
                <a class="nav-item nav-link active" id="nav-etf-tab" data-toggle="tab" href="#nav-etf" role="tab" aria-controls="nav-etf" aria-selected="false">ETFs</a>
            <% end %>
            <% if @portfolio_currencies.any? %>
                <a class="nav-item nav-link <% if @portfolio_etfs.empty? %> active <% end %>" id="nav-currency-tab" data-toggle="tab" href="#nav-currency" role="tab" aria-controls="nav-currency" aria-selected="true">Moedas Estrangeiras</a>
            <% end %>
            <% if @portfolio_stocks.any? %>
                <a class="nav-item nav-link <% if @portfolio_currencies.empty? %> active <% end %>" id="nav-stock-tab" data-toggle="tab" href="#nav-stock" role="tab" aria-controls="nav-stock" aria-selected="true">Ações Estrangeiras</a>
            <% end %>
        </div>
    </nav>
    
    <div class="tab-content" id="nav-tabContent">

        <% if @portfolio_etfs.any? %>
            <div class="tab-pane fade show active" id="nav-etf" role="tabpanel" aria-labelledby="nav-etf-tab">
                <table id="" class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Qnt</th>
                            <th>PM</th>
                            <th>Custo Total</th>
                            <th>Total Hoje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_etfs.each do |portfolio_etf| %>
                        <tr>
                            <td><%= portfolio_etf.etf.ticker %></td>                        
                            <td><%= number_with_precision(portfolio_etf.shares_amount, precision: 0) %>
                            <td><%= number_with_precision(portfolio_etf.share_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_etf.total_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_etf.total_today, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= link_to 'Edit', edit_portfolio_etf_path(portfolio_etf) %> | <%= link_to 'Destroy', portfolio_etf_path(portfolio_etf), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>

        <% if @portfolio_currencies.any? %>
            <div class="tab-pane fade <% if @portfolio_etfs.empty? %> show active <% end %>" id="nav-currency" role="tabpanel" aria-labelledby="nav-currency-tab">
                <table id="" class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Qnt</th>
                            <th>Preço medio</th>
                            <th>Custo Total</th>
                            <th>Total Hoje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_currencies.each do |portfolio_currency| %>
                        <tr>
                            <td><%= portfolio_currency.currency.ticker %></td>
                            <td><%= number_with_precision(portfolio_currency.shares_amount, precision: 0) %></td>
                            <td><%= number_with_precision(portfolio_currency.share_cost, precision: 4, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_currency.total_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_currency.total_today, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= link_to 'Edit', edit_portfolio_currency_path(portfolio_currency) %> | <%= link_to 'Destroy', portfolio_currency_path(portfolio_currency), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>

        <% if @portfolio_stocks.any? %>
            <div class="tab-pane fade <% if @portfolio_currencies.empty? %> show active <% end %>" id="nav-stock" role="tabpanel" aria-labelledby="nav-stock-tab">
                <table id="" class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Qnt</th>
                            <th>Preço medio</th>
                            <th>Custo Total</th>
                            <th>Total Hoje</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_stocks.each do |portfolio_stock| %>
                        <tr>
                            <td><%= portfolio_stock.stock.ticker %></td>
                            <td><%= number_with_precision(portfolio_stock.shares_amount, precision: 0) %></td>
                            <td><%= number_with_precision(portfolio_stock.share_cost, precision: 4, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_stock.total_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= number_with_precision(portfolio_stock.total_today, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= link_to 'Edit', edit_portfolio_stock_path(portfolio_stock) %> | <%= link_to 'Destroy', portfolio_stock_path(portfolio_stock), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
</section>
