<section id="tabs" class="project-tab">

    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <% if @criptos.any? %>
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Criptomoedas</a>
        <% end %>
        <% if @fiis.any? %>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Fundos Imobiliários</a>
        <% end %>
        <% if @br_stocks.any? %>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Açoes Brasileiras</a>
        <% end %>
        </div>
    </nav>
    
    <div class="tab-content" id="nav-tabContent">
        <% if @criptos.any? %>
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <table id="" class="display table table-striped w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Preço hoje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @criptos.each do |cripto| %>
                        <tr>
                            <td><%= cripto.ticker %></td>
                            <td><%= number_with_precision(cripto.price, precision: 4, separator: ",", delimiter: ".") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
        <% end %>
        <% if @fiis.any? %>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <table id="" class="display table table-striped w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Preço hoje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @fiis.each do |fii| %>
                        <tr>
                            <td><%= fii.ticker %></td>
                            <td><%= number_with_precision(fii.price, precision: 2, separator: ",", delimiter: ".") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
        <% if @br_stocks.any? %>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <table id="" class="display table table-striped w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Preço hoje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @br_stocks.each do |br_stock| %>
                        <tr>
                            <td><%= br_stock.ticker %></td>
                            <td><%= number_with_precision(br_stock.price, precision: 2, separator: ",", delimiter: ".") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div> 
        <% end %>
    </div>
    
</section>