<div class="float-right"><%= link_to new_admin_expiration_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo 
	</button><% end %>
</div>
<h3 class="h3-custom mb-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; expirations
</h3>
<div class="table-responsive mt-2">
    <table id="" class="display table table-striped w-100" cellspacing="0">
      <thead>
        <tr>
          <th>Year</th>
          <th>Url</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @expirations.each do |expiration| %>
          <tr>
            <td><%= expiration.title %></td>
            <td><%= expiration.slug %></td>
            <td> <%= link_to 'Edit', edit_admin_expiration_path(expiration.id) %> | <%= link_to 'Destroy', admin_expiration_path(expiration.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

