<%= simple_form_for([:admin, cripto]) do |form| %>
  <% if cripto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cripto.errors.count, "error") %> prohibited this cripto from being saved:</h2>

      <ul>
      <% cripto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  <div class="col-md-3">
      <%= form.label :slug %>
      <%= form.text_field :slug, class: 'form-control' %>
  </div>
    <div class="col-md-3">
      <%= form.label :ticker %>
      <%= form.text_field :ticker, class: 'form-control' %>
    </div>
  <div class="col-md-3">
      <%= form.label :price %>
      <%= form.text_field :price, class: 'form-control' %>
  </div>

</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
