<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @dividend.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @dividend.year %>
</p>

<p>
  <strong>Fiis:</strong>
  <%= @dividend.fiis %>
</p>

<p>
  <strong>Criptos:</strong>
  <%= @dividend.criptos %>
</p>

<p>
  <strong>Br stocks:</strong>
  <%= @dividend.br_stocks %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @dividend.properties %>
</p>

<p>
  <strong>Equities:</strong>
  <%= @dividend.equities %>
</p>

<p>
  <strong>International:</strong>
  <%= @dividend.international %>
</p>

<p>
  <strong>Derivatives:</strong>
  <%= @dividend.derivatives %>
</p>

<%= link_to 'Edit', edit_dividend_path(@dividend) %> |
<%= link_to 'Back', dividends_path %>
