
    <div class="col-xl-12">
        <div class="card border-success">
            <div class="card-body">
                <div> 
                    <h4> 
                        Garantia total disponível:
                        <span class="text-primary">
                            <%= number_to_currency(@portfolio_fixed_incomes.sum(:total_today), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %>
                        </span>
                        
                        <span class="ml-5">
                        Garantia total utilizada:
                        </span>
                        <span class="text-primary">
                            <%= number_to_currency(@portfolio_open_puts.sum(:total_strike), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %>
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>


<div class="col-xl-12">
    <h4 class="m-2">Alocação das Puts + Ações</h4>
    <div class="row mt-3">
        <% @portfolio_br_stocks.each do |portfolio_br_stock| %>
        <div class="col-xl-3">
            <div class="card  border-success">        
                <div class="card-body">
                    
                    <h4><%= portfolio_br_stock.br_stock.ticker %>
                    <span class="float-right text-primary"><%= number_with_precision(portfolio_br_stock.total_today, precision: 0, separator: ",", delimiter: ".") %><span></h4>
                    <p>
                    Preço Atual
                    <%= number_with_precision(portfolio_br_stock.br_stock.price, precision: 2, separator: ",", delimiter: ".") %>
                    <span class="float-right">
                    Preço médio: 
                    <%= number_with_precision(portfolio_br_stock.share_cost, precision: 2, separator: ",", delimiter: ".") %>                
                    <span>
                    </p>
                    <% @portfolio_open_puts.where(:br_stock_id => portfolio_br_stock.br_stock.id).each do |portfolio_put| %>
                        <p class="text-primary mt-2">
                            <%= portfolio_put.put.ticker %>
                            <span class="float-right">
                            <%= number_with_precision(portfolio_put.shares_amount, precision: 0) %>   
                            </span>
                        </p>                        
                    <% end %>
                    <%# <p>
                        <h4 class="text-primary"> %>
                        <%#= number_with_precision(portfolio_br_stock.shares_amount - @portfolio_open_puts.where(:br_stock_id => portfolio_br_stock.br_stock.id).sum(:shares_amount), precision: 0) %>
                        <%# Puts disponíveis
                        </h4>
                    </p> %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<div class="row">
<div class="col-xl-12">
    <div class="card">
        
        <div class="card-body">

            <h4>Puts Abertas</h4>

            <table class="display table table-striped table-bordered w-100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Ticker</th>
                        <th>Qnt</th>
                        <th>Meu Premio</th>
                        <th>Premio Hj</th>

                        <th>PM final (compra)</th>
                        <th>Strike</th>
                        <th>Cotação Hj</th>
                        
                        <th>Resultado</th>
                        <th>Yield Sintético</th>
                        <th>Vencimento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @portfolio_open_puts.each do |portfolio_put| %>
                    <tr>
                        <td><%= portfolio_put.situation.title %></td>     
                        <td><%= portfolio_put.put.ticker %></td>                        
                        <td><%= number_with_precision(portfolio_put.shares_amount, precision: 0) %>
                        <td><%= number_with_precision(portfolio_put.price, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td <% if portfolio_put.put.price <= 0.09 %>class="text-primary"<% end %>
                        ><%= number_with_precision(portfolio_put.put.price, precision: 2, separator: ",", delimiter: ".") %></td>
                        
                        <td class="text-primary"><%= number_with_precision(portfolio_put.put.strike - portfolio_put.price, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td class="text-primary"><%= number_with_precision(portfolio_put.put.strike, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td ><%= number_with_precision(portfolio_put.put.br_stock.price, precision: 2, separator: ",", delimiter: ".") %></td>                                                
                        
                        <td class="text-primary"><%= number_with_precision(portfolio_put.total_price, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td class="text-primary"><%= number_with_precision((portfolio_put.total_price/(portfolio_put.shares_amount * portfolio_put.put.strike))*100, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td><%= portfolio_put.put.expiration.title %></td>
                        <td><%= link_to 'E', edit_portfolio_put_path(portfolio_put) %> | <%= link_to 'D', portfolio_put_path(portfolio_put), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="">Puts Finalizadas 
            </br></br> Lucro até o momento:
            <span class="text-primary"><%= @portfolio_puts.sum((:total_price)) %></span>
            </h4>
            <table class="display table table-striped table-bordered w-100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Ticker</th>
                        <th>Resultado</th>
                        <th>Yield Sintético</th>
                        <th>Vencimento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @portfolio_puts.each do |portfolio_put| %>
                    <tr>
                        <td><%= portfolio_put.situation.title %></td>     
                        <td><%= portfolio_put.put.ticker %></td>                        
                        <td class="text-primary"><%= number_with_precision(portfolio_put.total_price, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td class="text-primary"><%= number_with_precision((portfolio_put.total_price/(portfolio_put.shares_amount * portfolio_put.put.strike))*100, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td><%= portfolio_put.put.expiration.title %></td>
                        <td><%= link_to 'E', edit_portfolio_put_path(portfolio_put) %> | <%= link_to 'D', portfolio_put_path(portfolio_put), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>