
<%= simple_form_for(@portfolio_holding_token) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.association :portfolio %>
    <%= f.association :holding_token %>
    <%= f.input :shares_amount %>
    <%= f.input :share_cost %>
    <%= f.input :total_cost %>
    <%= f.input :total_today %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
