<div class="float-right"><%= link_to new_admin_portfolio_br_stock_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo 
	</button><% end %>
</div>
<h3 class="h3-custom mb-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Fundos Imobiliários nos Portfolios
</h3>
<div class="table-responsive mt-2">
    <table id="" class="display table table-striped w-100" cellspacing="0">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Portfolio</th>
          <th>Categoria</th>
          <th>Quantidade</th>
          <th>Custo Unitário</th>
          <th>Custo Total</th>
          <th>Total Hoje</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @portfolio_br_stocks.each do |portfolio_br_stock| %>
          <tr>
            <td><%= portfolio_br_stock.br_stock.ticker %></td>
            <td><%= portfolio_br_stock.portfolio.title %></td>
             <td><%= portfolio_br_stock.category.title %></td>
            <td><%= portfolio_br_stock.shares_amount %></td>
            <td><%= portfolio_br_stock.share_cost %></td>
            <td><%= portfolio_br_stock.total_cost %></td>
            <td><%= portfolio_br_stock.total_today %></td>
            <td> <%= link_to 'Edit', edit_admin_portfolio_br_stock_path(portfolio_br_stock.id) %> | <%= link_to 'Destroy', admin_portfolio_br_stock_path(portfolio_br_stock.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

