<h4 class="m-2">Calls disponíveis para venda</h4>
<div class="row mt-3">
    <% @portfolio_br_stocks.each do |portfolio_br_stock| %>
    <div class="col-xl-3">
        <div class="card  border-success">        
            <div class="card-body">
                
                <h4><%= portfolio_br_stock.br_stock.ticker %>
                <span class="float-right text-primary"><%= number_with_precision(portfolio_br_stock.shares_amount, precision: 0) %><span></h4>
                <p>
                Preço Atual
                <%= number_with_precision(portfolio_br_stock.br_stock.price, precision: 2, separator: ",", delimiter: ".") %>
                <span class="float-right">
                Preço médio: 
                <%= number_with_precision(portfolio_br_stock.share_cost, precision: 2, separator: ",", delimiter: ".") %>                
                <span>
                </p>
                <% @portfolio_open_calls.where(:br_stock_id => portfolio_br_stock.br_stock.id).each do |portfolio_call| %>
                    <p class="text-primary mt-2">
                        <%= portfolio_call.call.ticker %>
                        <span class="float-right">
                        <%= number_with_precision(portfolio_call.shares_amount, precision: 0) %>   
                        </span>
                    </p>                        
                <% end %>
                <p>
                    <h4 class="text-primary">
                    <%= number_with_precision(portfolio_br_stock.shares_amount - @portfolio_open_calls.where(:br_stock_id => portfolio_br_stock.br_stock.id).sum(:shares_amount), precision: 0) %>
                    Calls disponíveis
                    </h4>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card card-defaut">
            
            <div class="card-body">


                <h4>Calls Abertas</h4>
                <p>
                <h4 class="m-4">
                Lucro em aberto = 
                <span class="text-primary">
                <%= number_to_currency(@portfolio_open_calls.sum(:total_price), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></h4>
                </span>
                </p>

                <table class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Ticker</th>
                            <th>Qnt</th>
                            <th>Meu Premio</th>
                            <th>Premio Hj</th>
                            <th>Cotação Hj</th>
                            <th>Strike</th>
                            <th>PM final (Venda)</th>
                            <th>Resultado</th>
                            <th>Yield Sintético</th>
                            <th>Vencimento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_open_calls.each do |portfolio_call| %>
                        <tr>
                            <td><%= portfolio_call.situation.title %></td>     
                            <td><%= portfolio_call.call.ticker %></td>                        
                            <td><%= number_with_precision(portfolio_call.shares_amount, precision: 0) %>
                            <td><%= number_with_precision(portfolio_call.price, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td <% if portfolio_call.call.price <= 0.09 %>class="text-primary"<% end %>
                            ><%= number_with_precision(portfolio_call.call.price, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td ><%= number_with_precision(portfolio_call.call.br_stock.price, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td class="text-primary"><%= number_with_precision(portfolio_call.call.strike, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td class="text-primary"><%= number_with_precision(portfolio_call.call.strike + portfolio_call.price, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td class="text-primary"><%= number_with_precision(portfolio_call.total_price, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td class="text-primary"><%= number_with_precision((portfolio_call.total_price/(portfolio_call.shares_amount * portfolio_call.call.strike))*100, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= portfolio_call.call.expiration.title %></td>
                            <td><%= link_to 'E', edit_portfolio_call_path(portfolio_call) %> | <%= link_to 'D', portfolio_call_path(portfolio_call), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-xl-12 card-defaut">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-5">Calls Finalizadas</h4>
                <p>
                <h4 class="m-4">
                Lucro Realizado = 
                <span class="text-primary">
                <%= number_to_currency(@portfolio_calls.sum(:total_price), unit: "R$ ", separator: ",", delimiter: ".", strip_insignificant_zeros: true) %></h4>
                </span>
                </p>

                <table class="display table table-striped table-bordered w-100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Ticker</th>
                            <th>Resultado</th>
                            <th>Yield Sintético</th>
                            <th>Vencimento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @portfolio_calls.each do |portfolio_call| %>
                        <tr>
                            <td><%= portfolio_call.situation.title %></td>     
                            <td><%= portfolio_call.call.ticker %></td>                         
                            <td class="text-primary"><%= number_with_precision(portfolio_call.total_price, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td class="text-primary"><%= number_with_precision((portfolio_call.total_price/(portfolio_call.shares_amount * portfolio_call.call.strike))*100, precision: 2, separator: ",", delimiter: ".") %></td>
                            <td><%= portfolio_call.call.expiration.title %></td>
                            <td><%= link_to 'E', edit_portfolio_call_path(portfolio_call) %> | <%= link_to 'D', portfolio_call_path(portfolio_call), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>