
<%= simple_form_for(@order) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>


<div class="row">
  <div class="col-md-4">
    <%= form.label :portfolio_id %> 
    <%= form.select :portfolio_id, Portfolio.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4">
    <%= form.label :year_id %> 
    <%= form.select :year_id, Year.all.collect {|d| [d.title, d.id]}, {selected: 4}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4">
    <%= form.label :month_id %> 
    <%= form.select :month_id, Month.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control'} %>
  </div>


</div>

<div class="row">
  <div class="col-md-4">
      Total
      <%= form.text_field :total_today, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      Aporte
      <%= form.text_field :order_value, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      Tipo de ordem
      <%= form.select :order_type, [["C","Compra"], ["V","Venda"]], {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4">
      Tokens
      <%= form.text_field :tokens_amount, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      Valor do Token
      <%= form.text_field :token_price, class: 'form-control' %>
  </div>
    <div class="col-md-4">
      Lucro
      <%= form.text_field :month_profit, class: 'form-control' %>
  </div>

</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
