<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Portfolio</th>
      <th>Year</th>
      <th>Month</th>
      <th>Total today</th>
      <th>Order value</th>
      <th>Order type</th>
      <th>Tokens amount</th>
      <th>Token price</th>
      <th>Month profit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.portfolio %></td>
        <td><%= order.year %></td>
        <td><%= order.month %></td>
        <td><%= order.total_today %></td>
        <td><%= order.order_value %></td>
        <td><%= order.order_type %></td>
        <td><%= order.tokens_amount %></td>
        <td><%= order.token_price %></td>
        <td><%= order.month_profit %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
