<div id="chart2"></div>

<script>

var options = {
  
  chart: {
  height: 480,
  type: 'pie',
},

legend: {
show: true,
position: 'bottom',
horizontalAlign: 'left',
fontSize: '14px',
fontFamily: 'Helvetica, Arial',
fontWeight: 400,
width:'20px',
},
dataLabels: {
enabled: true,
style: {
fontSize: '12px',
},
},

series: [
  <%= number_with_precision(@portfolio_fixed_incomes.sum(:total_today)/@total * 100, precision: 2, separator: ".")%>,
  <%= number_with_precision(@portfolio_criptos.sum(:total_today)/@total * 100, precision: 2, separator: ".")%>, 
  <%= number_with_precision(@portfolio_goods.sum(:total_today)/@total * 100, precision: 2, separator: ".")%>,

  <%= number_with_precision( @portfolio_br_stocks.sum(:total_today)/@total * 100, precision: 2, separator: ".") %>, 
  <%= number_with_precision(@portfolio_internationals.sum(:total_today)/@total * 100, precision: 2, separator: ".")%>,
  <%= number_with_precision(@fiis_total/@total * 100, precision: 2, separator: ".")%>, 

  <%= number_with_precision(@portfolio_properties.sum(:total_today)/@total * 100, precision: 2, separator: ".")  %>, 
  
],
labels: [
  'Renda Fixa', 
  'Criptomoedas', 
  'Outros Bens', 

  'Ações Brasileiras', 
  'Internacional', 
  'Fundos Imobiliários', 

  'Imoveis', 

],
colors: [
  '#5C388E',
  '#8A1459',
  '#421243',

  '#3B93A5',
  '#1E5D8C',
  '#F7B844',

  '#748C38',
  
  '#7F94B0',
  '#EF6537',
],
responsive: [{
  breakpoint: 480,
  options: {
    chart: {
      width: 200
    },
    legend: {
      position: 'bottom'
    }
  }
}]
};

var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
chart2.render();

// var url = "https://run.mocky.io/v3/796b60e0-5c95-43e3-b846-be052dec81f2";
// $.getJSON(url, function (response) {
//  chart.updateSeries(response);
// });

</script>


