
<%= simple_form_for(@portfolio_fii) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

<div class="row">
  <div class="col-md-4 <% if !@portfolio_fii.new_record? %>d-none<% end %>">
    <%= form.label :fii_id %> 
    <%= form.select :fii_id, Fii.all.collect {|d| [d.ticker, d.id]}, {}, {class: 'form-control select2'} %>
  </div>
  <% if @portfolio_fii.new_record? %>
    <div class="col-md-4">
      <%= form.label :portfolio_id %> 
      <%= form.select :portfolio_id, Portfolio.all.collect {|d| [d.title, d.id]}, {selected: @portfolio_id}, {class: 'form-control select2'} %>
    </div>
  <% else %>
    <div class="col-md-4">
      <%= form.label :portfolio_id %> 
      <%= form.select :portfolio_id, Portfolio.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control select2'} %>
    </div>
  <% end %>
  <div class="col-md-4 d-none">
    <%= form.label :category_id %> 
    <%= form.select :category_id, Category.all.collect {|d| [d.title, d.id]}, {selected: 1}, {class: 'form-control select2'} %>
  </div>
  <div class="col-md-4">
      Quantidade de Cotas
      <%= form.text_field :shares_amount, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      Preço por Cota
      <%= form.text_field :share_cost, class: 'form-control' %>
  </div>
  <div class="col-md-4 d-none">
      Custo Total
      <%= form.text_field :total_cost, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      Lucro dos dividendos
      <%= form.text_field :dividends_profit, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      Lucro dos trades
      <%= form.text_field :trade_profit, class: 'form-control' %>
  </div>
  <div class="col-md-4 d-none">
      Valor hoje
      <%= form.text_field :total_today, class: 'form-control' %>
  </div>

</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>


<script>
$(".select2").select2({
});


</script>

<script>
$(document).ready(function(){
    $('#portfolio_fii_shares_amount').keyup(calculate);
    $('#portfolio_fii_share_cost').keyup(calculate);
});

function calculate(e)
{
    $('#portfolio_fii_total_cost').val($('#portfolio_fii_shares_amount').val() * $('#portfolio_fii_share_cost').val());
    $('#portfolio_fii_total_today').val($('#portfolio_fii_shares_amount').val() * $('#portfolio_fii_share_cost').val());
}
</script>

