<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="mt-1">Subscrições abertas</h4>
            <table id="" class="display table table-striped table-bordered w-100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Qnt</th>
                        <th>Preço medio</th>
                        <th>Custo Total</th>
                        <th>Total Hoje</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @portfolio_subscriptions.each do |portfolio_subscription| %>
                    <tr>
                        <td><%= portfolio_subscription.subscription.ticker %></td>
                        <td><%= number_with_precision(portfolio_subscription.shares_amount, precision: 0) %></td>
                        <td><%= number_with_precision(portfolio_subscription.share_cost, precision: 4, separator: ",", delimiter: ".") %></td>
                        <td><%= number_with_precision(portfolio_subscription.total_cost, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td><%= number_with_precision(portfolio_subscription.total_today, precision: 2, separator: ",", delimiter: ".") %></td>
                        <td><%= link_to 'Edit', edit_portfolio_subscription_path(portfolio_subscription) %> | <%= link_to 'Destroy', portfolio_subscription_path(portfolio_subscription), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
    </div>
</div>