<%= simple_form_for(@portfolio_fii) do |form| %>
  <% if portfolio_fii.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_fii.errors.count, "error") %> prohibited this portfolio_fii from being saved:</h2>

      <ul>
      <% portfolio_fii.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-4">
    <%= form.label :fii_id %> 
    <%= form.select :fii_id, Fii.all.collect {|d| [d.ticker, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4">
    <%= form.label :portfolio_id %> 
    <%= form.select :portfolio_id, Portfolio.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <div class="col-md-4">
    <%= form.label :category_id %> 
    <%= form.select :category_id, Category.all.collect {|d| [d.title, d.id]}, {}, {class: 'form-control'} %>
  </div>


</div>
<div class="row">
  <div class="col-md-4">
      <%= form.label :shares_amount %>
      <%= form.text_field :shares_amount, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      <%= form.label :share_cost %>
      <%= form.text_field :share_cost, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      <%= form.label :total_cost %>
      <%= form.text_field :total_cost, class: 'form-control' %>
  </div>
  <div class="col-md-4">
      <%= form.label :total_today %>
      <%= form.text_field :total_today, class: 'form-control' %>
  </div>

</div>
<div class="row">
    <div class="col-md-3 mt-4">
		<div class="form-group">
                <%= form.submit 'Enviar', class: 'btn btn-block btn-primary' %>
         </div>
     </div>
</div>
<% end %>
