<div class="float-right"><%= link_to new_admin_fixed_income_path do %>
	<button class="btn btn-outline-success">
		<em class="fa fa-plus-circle"></em> &nbsp; Novo 
	</button><% end %>
</div>
<h3 class="h3-custom mb-4" id="minhas-paginas">
	<em class="fa fa-vcard-o text-success"></em> &nbsp; Renda Fixas
</h3>
<div class="table-responsive mt-2">
    <table id="" class="display table table-striped w-100" cellspacing="0">
      <thead>
        <tr>
          <th>ticker</th>
          <th>Preço</th>
          <th>title</th>
          <th>Url</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @fixed_incomes.each do |fixed_income| %>
          <tr>
            <td><%= fixed_income.ticker %></td>
            <td><%= fixed_income.price %></td>
            <td><%= fixed_income.title %></td>
            <td><%= fixed_income.slug %></td>
            <td> <%= link_to 'Edit', edit_admin_fixed_income_path(fixed_income.id) %> | <%= link_to 'Destroy', admin_fixed_income_path(fixed_income.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

