<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Area Administrativa - Minha Holding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  </head>

  <body>
  <%= render partial: "layouts/admin_navbar" %>
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-xl-3">
                    <a href="#admin-menu" data-toggle="collapse">
                    <div class="card-header text-primary"> Admin Menu</div>
                    </a>
                        <div id="admin-menu" class="card-body collapse">
                        <div class="card">
                            <a href="#brazilian-investments" data-toggle="collapse">
                                <div class="card-header text-primary"> Investimentos no Brasil</div>
                            </a>
                            <div id="brazilian-investments" class="card-body collapse">
                                <%= link_to admin_fixed_incomes_path, class: 'dropdown-item m-2' do %>
                                    Renda Fixas
                                <% end %>
                                <%= link_to admin_fiis_path, class: 'dropdown-item m-2' do %>
                                    Fundos Imobiliários
                                <% end %>
                                <%= link_to admin_br_stocks_path, class: 'dropdown-item m-2' do %>
                                    Ações Brasileiras
                                <% end %>
                                <%= link_to admin_properties_path, class: 'dropdown-item m-2' do %>
                                    Imóveis / Propriedades
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <a href="#international-investments" data-toggle="collapse">
                                <div class="card-header text-primary"> Investimentos Internacionais</div>
                            </a>
                            <div id="international-investments" class="card-body collapse">
                                <%= link_to admin_internationals_path, class: 'dropdown-item m-2' do %>
                                    Internacionais
                                <% end %>
                                <%= link_to admin_international_categories_path, class: 'dropdown-item m-2' do %>
                                    Categorias Internacionais
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <a href="#cripto" data-toggle="collapse">
                                <div class="card-header text-primary"> criptomoedas</div>
                            </a>
                            <div id="cripto" class="card-body collapse">
                                <%= link_to admin_criptos_path, class: 'dropdown-item m-2' do %>
                                    Criptomoedas
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <a href="#derivatives" data-toggle="collapse">
                                <div class="card-header text-primary"> Derivativos</div>
                            </a>
                            <div id="derivatives" class="card-body collapse">
                                <%= link_to admin_calls_path, class: 'dropdown-item m-2' do %>
                                    Calls de Ações
                                <% end %>
                                <%= link_to admin_puts_path, class: 'dropdown-item m-2' do %>
                                    Puts de Ações
                                <% end %>
                                <%= link_to admin_subscriptions_path, class: 'dropdown-item m-2' do %>
                                    Subscrições de Fundos Imobiliários
                                <% end %>
                            </div>
                        </div>
                        <div class="card">
                            <a href="#systems" data-toggle="collapse">
                                <div class="card-header text-primary"> Sistema</div>
                            </a>
                            <div id="systems" class="card-body collapse">
                                <%= link_to admin_categories_path, class: 'dropdown-item m-2' do %>
                                    Categorias de Investimentos
                                <% end %>
                                <%= link_to admin_portfolios_path, class: 'dropdown-item m-2' do %>
                                    Portfolios
                                <% end %>
                                <%= link_to admin_years_path, class: 'dropdown-item m-2' do %>
                                    Anos
                                <% end %>
                                <%= link_to admin_months_path, class: 'dropdown-item m-2' do %>
                                    Meses
                                <% end %>
                                <%= link_to admin_expirations_path, class: 'dropdown-item m-2' do %>
                                    Vencimentos dos derivativos
                                <% end %>
                                <%= link_to admin_situations_path, class: 'dropdown-item m-2' do %>
                                    Status dos derivativos
                                <% end %>
                            </div>
                        </div>   
                    </div>   
                </div>
                <div class="col-xl-9">
                    <div class="card">
                        <div class="card-body">
                            <% if alert %><div class="alert alert-success m-5 text-center"><%= alert %></div><% end %>
                            <% if notice %><div class="alert alert-success m-5 text-center"><%= notice %></div><% end %>
                            <%= yield %>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
<script>
$(document).ready( function () {
    $('table.display').DataTable({
        'paging': false, // Table pagination
        'ordering': true, // Column ordering
        'info': false, // Bottom left status text
        responsive: true,
        // columnDefs: [ { visible: true, orderable: false, targets: [3] } ],
        // "order": [[ 3, "desc" ]],
        "dom": '<"float-left mt-3"f><"clear">',
        responsive: true,
        oLanguage: {
            sSearch: '<em class="fa fa-search"></em>',
            sLengthMenu: '_MENU_ records per page',
            info: 'Showing page _PAGE_ of _PAGES_',
            zeroRecords: 'Nothing found - sorry',
            infoEmpty: 'No records available',
            infoFiltered: '(filtered from _MAX_ total records)',
            oPaginate: {
                sNext: '<em class="fa fa-caret-right"></em>',
                sPrevious: '<em class="fa fa-caret-left"></em>'
            }
        },
    });
} );
</script>
<style>
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
background-position: 5px center;
}
table.dataTable thead th, table.dataTable thead td {
padding: 10px 18px 10px 28px;           
}
</style>
  </body>
</html>